body {
    font-family: sans-serif;
    max-width: 1200px;
    margin: auto;
    background-image: url('/images/orig.jpg'); 
    background-size: cover;        
    background-position: center;    
    background-repeat: no-repeat;   
    background-attachment: fixed; 
}

