.card {
  display: flex;
  border: 4px solid #a3a3a3;
  border-radius: 10px;
  overflow: hidden;
  text-decoration: none;  
  color: black;  
  transition: box-shadow 0.2s ease;
  margin: 10px auto;
}

.card:hover {
  box-shadow: 0px 0px 7px 9px #dadada;
}

.image {
  width: 230px;
  height: 230px;
  object-fit: scale-down; 
  margin: 10px; 
  border: 4px solid #a3a3a3;
  border-radius: 10px;
}

.details {
  padding: 10px;
}

.name {
  font-size: 1.1rem;
  margin-bottom: 5px;
  font-weight: bold;
}

.price {
  font-size: 1rem;
  color: #333;
}