.productPage {
    background-color: white;
    padding: 20px;
    margin: 20px auto;
    max-width: 1200px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.breadcrumbs {
    font-size: 0.8em;
    margin-bottom: 10px;

    a {
        text-decoration: none;
        color: #333;

        &:hover {
            text-decoration: underline;
        }
    }
}


.img {
    object-fit: scale-down;
    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.09);
    border-radius: 15px;
}

.productContainer {
    display: flex;
    gap: 20px;
}

.imageColumn {
    width: 400px;
    flex-shrink: 0;
}

.detailsColumn {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px 20px 20px;
}

.productName {
    font-size: 2em;
}

.description {
    margin-bottom: 20px;
}

.characteristics {
    margin-bottom: 20px;
}

.characteristic {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.characteristicLabel {
    font-weight: bold;
}

.priceContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.price {
    font-size: 1.5em;
    font-weight: bold;
}

.addToCartButton {
    border: none;
    max-width: 400px;
    font-weight: 600;
    text-transform: uppercase;
    background-color: #ccc;
    border-radius: 5px;
    text-decoration: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 20px;


    &:hover {
        background-color: #008383;
        color: #fff;
        transition: color, background-color 1s ease;
    }

}
.brandLogo{
    object-fit: scale-down;
    border-radius: 5px;
    border: 3px solid #ccc;
}
.logoName{
    display: flex;
    justify-content: space-between;
    align-items: center;
}